In [1]:
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import ssl
import pandas as pd
from collections import OrderedDict
import re

In [2]:
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

In [3]:
url_template = "http://stats.espncricinfo.com/ci/engine/stats/index.html?class=1;orderby=start;page={0};spanmin1=01+Jan+1985;spanval1=span;team_view=bowl;template=results;type=team;view=innings"

In [4]:
match_urls = []
for x in range(1,100):
    match_url = url_template.format(str(x))
    match_urls.append(match_url)

In [5]:
bowling_performance_dict_list = []

In [6]:
for url in match_urls:
    html = urllib.request.urlopen(url, context=ctx).read()
    bs = BeautifulSoup(html, "lxml")
    table_body = bs.find_all('tbody')
    rows = table_body[0].find_all('tr')
    temp_data = OrderedDict()
    for row in rows:
        cols=row.find_all('td')
        cols=[str(x.text.strip()) for x in cols]
        temp_data=OrderedDict()
        for i in range(len(cols)):
            temp_data["Team"]=cols[0]
            temp_data["Score"]=cols[1]
            temp_data["Overs"]=cols[2]
            temp_data["RPO"]=cols[3]
            temp_data["Lead"]=cols[4]
            temp_data["Inns"]=cols[5]
            temp_data["Result"]=cols[6]
            temp_data["Opposition"]=cols[8]
            temp_data["Ground"]=cols[9]
            temp_data["Date"]=cols[10]
        bowling_performance_dict_list.append(temp_data)

In [7]:
bowling_df = pd.DataFrame(bowling_performance_dict_list)

In [8]:
bowling_df.head(30)

,Team,Score,Overs,RPO,Lead,Inns,Result,Opposition,Ground,Date
0,England,272,67.5,4.00,272,1,won,v India,Chennai,13 Jan 1985
1,India,652/7d,175.0,3.72,380,2,lost,v England,Chennai,13 Jan 1985
2,England,412,122.5,3.35,32,3,won,v India,Chennai,13 Jan 1985
3,India,35/1,8.0,4.37,3,4,lost,v England,Chennai,13 Jan 1985
4,Pakistan,492,175.0,2.81,492,1,draw,v New Zealand,Wellington,18 Jan 1985
5,New Zealand,322,129.4,2.48,-170,2,draw,v Pakistan,Wellington,18 Jan 1985
6,Pakistan,103/4,45.0,2.28,273,3,draw,v New Zealand,Wellington,18 Jan 1985
7,New Zealand,169,66.5,2.52,169,1,won,v Pakistan,Auckland,25 Jan 1985
8,Pakistan,451/9d,147.0,3.06,282,2,lost,v New Zealand,Auckland,25 Jan 1985
9,New Zealand,183,59.4,3.06,-99,3,won,v Pakistan,Auckland,25 Jan 1985
10,England,553/8d,165.0,3.35,553,1,draw,v India,Kanpur,31 Jan 1985
11,India,417,188.5,2.20,-136,2,draw,v England,Kanpur,31 Jan 1985
12,England,97/1d,13.0,7.46,233,3,draw,v India,Kanpur,31 Jan 1985
13,India,91/0,36.0,2.52,-142,4,draw,v England,Kanpur,31 Jan 1985
14,New Zealand,274,94.2,2.90,274,1,won,v Pakistan,Dunedin,9 Feb 1985
15,Pakistan,220,85.4,2.56,-54,2,lost,v New Zealand,Dunedin,9 Feb 1985
16,New Zealand,223,88.4,2.51,277,3,won,v Pakistan,Dunedin,9 Feb 1985
17,Pakistan,278/8,99.4,2.78,1,4,lost,v New Zealand,Dunedin,9 Feb 1985
18,New Zealand,307,106.3,2.88,307,1,draw,v West Indies,Port of Spain,29 Mar 1985
19,West Indies,262,100.3,2.60,-45,2,draw,v New Zealand,Port of Spain,29 Mar 1985
20,New Zealand,261/8d,72.0,3.62,306,3,draw,v West Indies,Port of Spain,29 Mar 1985
21,West Indies,187/6,81.0,2.30,-119,4,draw,v New Zealand,Port of Spain,29 Mar 1985
22,New Zealand,511/6d,152.5,3.34,511,1,draw,v West Indies,Georgetown,6 Apr 1985
23,West Indies,440,151.5,2.89,-71,2,draw,v New Zealand,Georgetown,6 Apr 1985
24,New Zealand,268/6d,95.0,2.82,339,3,draw,v West Indies,Georgetown,6 Apr 1985
25,West Indies,94,47.4,1.97,94,1,won,v New Zealand,Bridgetown,26 Apr 1985
26,New Zealand,336,93.1,3.60,242,2,lost,v West Indies,Bridgetown,26 Apr 1985
27,West Indies,248,80.3,3.08,6,3,won,v New Zealand,Bridgetown,26 Apr 1985
28,New Zealand,10/0,1.4,6.00,4,4,lost,v West Indies,Bridgetown,26 Apr 1985
29,New Zealand,363,116.4,3.11,363,1,lost,v West Indies,Kingston,4 May 1985

In [9]:
bowling_df.to_csv('../data/bowling_performances_from_1985_ver_3.csv')