In [1]:
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import ssl
import pandas as pd
from collections import OrderedDict
import re

In [2]:
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

In [3]:
# Scraping data for a batsman - Ricky Ponting
# Australian player from 1996 - 2012
url = "http://stats.espncricinfo.com/ci/engine/player/7133.html?class=1;template=results;type=batting;view=innings"
html = urllib.request.urlopen(url, context=ctx).read()

temp_data=OrderedDict()
list_of_dict=[]
bs=BeautifulSoup(html, "lxml")
table_body=bs.find_all('tbody')
rows = table_body[1].find_all('tr')
for row in rows:
    cols=row.find_all('td')
    cols=[x.text.strip() for x in cols]
    temp_data=OrderedDict()
    for i in range(len(cols)):
    	temp_data["Runs"]=cols[0]
    	temp_data["Mins"]=cols[1]
    	temp_data["BF"]=cols[2]
    	temp_data["4s"]=cols[3]
    	temp_data["6s"]=cols[4]
    	temp_data["SR"]=cols[5]
    	temp_data["POS"]=cols[6]
    	temp_data["Dismissal"]=cols[7]
    	temp_data["Inns"]=cols[8]
    	temp_data["Opposition"]=cols[10]
    	temp_data["Ground"]	=cols[11]
    	temp_data["Date"]=cols[12]
    list_of_dict.append(temp_data)

In [56]:
ponting_df = pd.DataFrame(list_of_dict)

In [57]:
ponting_df.head(5)

,Runs,Mins,BF,4s,6s,SR,POS,Dismissal,Inns,Opposition,Ground,Date
0,96,236,184,8,0,52.17,5,lbw,2,v Sri Lanka,Perth,8 Dec 1995
1,71,125,94,9,1,75.53,6,caught,1,v Sri Lanka,Melbourne,26 Dec 1995
2,DNB,-,-,-,-,-,-,-,4,v Sri Lanka,Melbourne,26 Dec 1995
3,6,31,27,0,0,22.22,6,caught,1,v Sri Lanka,Adelaide,25 Jan 1996
4,20,64,61,2,0,32.78,6,caught,3,v Sri Lanka,Adelaide,25 Jan 1996

In [58]:
ponting_df.to_csv('../data/ricking_ponting_test_innings.csv')

In [59]:
url_2 = "http://stats.espncricinfo.com/ci/engine/stats/index.html?class=1;template=results;type=aggregate;view=ground"
html_2 = urllib.request.urlopen(url_2, context=ctx).read()

ground_urls = ["http://stats.espncricinfo.com/ci/engine/stats/index.html?class=1;template=results;type=aggregate;view=ground",
               "http://stats.espncricinfo.com/ci/engine/stats/index.html?class=1;page=2;template=results;type=aggregate;view=ground",
              "http://stats.espncricinfo.com/ci/engine/stats/index.html?class=1;page=3;template=results;type=aggregate;view=ground"]
list_of_ground_dicts = []

for ground_url in ground_urls:
    ground_html = urllib.request.urlopen(ground_url, context=ctx).read()
    grounds_bs = BeautifulSoup(ground_html, "lxml")
    table_body = grounds_bs.find_all('tbody')
    rows = table_body[0].find_all('tr')
    temp_data = OrderedDict()
    for row in rows:
        cols=row.find_all('td')
        cols=[x.text.strip() for x in cols]
        temp_data=OrderedDict()
        for i in range(len(cols)):
            if cols[0] != '':
                temp_data["Ground"]=cols[0]
        list_of_ground_dicts.append(temp_data)

In [60]:
grounds_df = pd.DataFrame(list_of_ground_dicts)

In [61]:
# Drop the empty/NA columns
grounds_df.dropna(inplace=True)

In [62]:
# Reset the index
grounds_df.reset_index(drop=True)

                                                Ground
0                 Melbourne Cricket Ground - Australia
1                    Kennington Oval, London - England
2                    Sydney Cricket Ground - Australia
3                   Old Trafford, Manchester - England
4                             Lord's, London - England
5                            Adelaide Oval - Australia
6      St George's Park, Port Elizabeth - South Africa
7                   Newlands, Cape Town - South Africa
8           Old Wanderers, Johannesburg - South Africa
9                   Trent Bridge, Nottingham - England
10                         Headingley, Leeds - England
11                     Edgbaston, Birmingham - England
12                   Bramall Lane, Sheffield - England
13                       Lord's, Durban - South Africa
14                    Kingsmead, Durban - South Africa
15             Exhibition Ground, Brisbane - Australia
16             AMI Stadium, Christchurch - New Zealand
17   Kensington Oval, Bridgetown, Barbados - West I...
18             Basin Reserve, Wellington - New Zealand
19   Queen's Park Oval, Port of Spain, Trinidad - W...
20                   Eden Park, Auckland - New Zealand
21            Bourda, Georgetown, Guyana - West Indies
22        Sabina Park, Kingston, Jamaica - West Indies
23   Brisbane Cricket Ground, Woolloongabba, Brisba...
24                     Gymkhana Ground, Mumbai - India
25                       Eden Gardens, Kolkata - India
26    MA Chidambaram Stadium, Chepauk, Chennai - India
27                 Arun Jaitley Stadium, Delhi - India
28                   Brabourne Stadium, Mumbai - India
29             Ellis Park, Johannesburg - South Africa
..                                                 ...
89                Cazaly's Stadium, Cairns - Australia
90   Zahur Ahmed Chowdhury Stadium, Chattogram - Ba...
91          Shaheed Chandu Stadium, Bogra - Bangladesh
92   Khan Shaheb Osman Ali Stadium, Fatullah - Bang...
93     Warner Park, Basseterre, St Kitts - West Indies
94   Shere Bangla National Stadium, Mirpur, Dhaka -...
95              University Oval, Dunedin - New Zealand
96            Providence Stadium, Guyana - West Indies
97   Sir Vivian Richards Stadium, North Sound, Anti...
98   Vidarbha Cricket Association Stadium, Jamtha, ...
99                   Sophia Gardens, Cardiff - England
100  Rajiv Gandhi International Stadium, Uppal, Hyd...
101       Dubai International Cricket Stadium - U.A.E.
102           Sheikh Zayed Stadium, Abu Dhabi - U.A.E.
103  Pallekele International Cricket Stadium - Sri ...
104               The Rose Bowl, Southampton - England
105       Windsor Park, Roseau, Dominica - West Indies
106      Sheikh Abu Naser Stadium, Khulna - Bangladesh
107            Hagley Oval, Christchurch - New Zealand
108             Holkar Cricket Stadium, Indore - India
109  Saurashtra Cricket Association Stadium, Rajkot...
110  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...
111  Maharashtra Cricket Association Stadium, Pune ...
112  JSCA International Stadium Complex, Ranchi - I...
113  Himachal Pradesh Cricket Association Stadium, ...
114            The Village, Malahide, Dublin - Ireland
115  Sylhet International Cricket Stadium - Bangladesh
116                          Perth Stadium - Australia
117                  Manuka Oval, Canberra - Australia
118  Rajiv Gandhi International Cricket Stadium, De...

[119 rows x 1 columns]

In [65]:
print(grounds_df.head(1))

# We need to extract the country from the full name
# We'll use good old regex for that
country_re = re.compile("- ([A-Za-z\s]+)")

# Test the regex object
ground_str = "Trent Bridge, Nottingham - England"
country_result = country_re.search(ground_str)

                                 Ground
0  Melbourne Cricket Ground - Australia

In [ ]:
country_result.group(1)

In [ ]:
# Make a function to extract the country
def get_country(ground_str):
    country_re = re.compile("- ([A-Za-z\s]+)")
    country_result = country_re.search(ground_str)
    return country_result.group(1)

In [ ]:
# Apply the function to the dataframe
# Make a new column named 'Country'
grounds_df['Country'] = grounds_df['Ground'].apply(get_country)

In [ ]:
grounds_df.to_csv('../data/test_cricket_grounds.csv')